@use "../Style/partials/mixins" as *;
@use "../Style/partials/typography" as *;
@use "../Style/partials/variables" as *;
@use "../Style/partials/global" as *;

.home {
  min-height: 100vh;
  background-color: $Background;
  display: flex;
  justify-content: center;
}
